//- dataTables.pug
.row
  .col-md-8.offset-md-2
    table#issuesTable.table.table-hover.table-bordered(style="width:100%;")
      thead
        tr
          th Summary
      tbody
        each item in issue_list
          tr
            td
              |   #{item.description}
        else
          li There are no issues.