//- footer.pug
footer.footer
    .container
      .row
        .col-sm-5.text-white.text-center.text-md-left.mt-2
          p.footer-links.font-weight-bold
            a#copyright.text-light(tabindex="0") ©2020 Bug Thwack
            |                         |
            a#home-link.text-white(href="#" label="home") Home
            |                         |
            a#blog-link.text-white(href="#" label="blog") Blog
            |                         |
            a#contact-link.text-white(href="#" label="contact") Contact
        .col-sm-2.text-center.mt-2
          img(src="../images/bt-logo.PNG" alt="bug thwack logo" height="30" tabindex="-1")
        .col-sm-5.text-white.text-center.text-md-right.mt-2
          p.footer-links.font-weight-bold
            a#pricing-link.text-white(href="#" label="pricing" tabindex="0") Pricing
            |                         |
            a#api-link.text-white(href="#" label="api" tabindex="0") API
            |                         |
            a#training-link.text-white(href="#" label="training" tabindex="0") Training
            |                         |
            a#about-link.text-white(href="#" label="about" tabindex="0") About