extends layout

block content
  h1= title
  if locals.user

    ul
      li #[strong Number of Issues:] !{data.issue_count}
      li #[strong Number of Users:] !{data.user_count}

  if error
    p Error getting dynamic content.
  else
    