//- tableFilterSearch.pug
.tab-content
  // removed "fade in" from tab-pane class because it is buggy. Content fails to show on reload with "fade in"
  #issues.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="issues-tab")
    .row
      #filter-search-row.col-md-8.offset-md-2.filter-search-row
        .input-group.mb-2.input-group-sm
          .input-group-prepend
            button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") filters
            .dropdown-menu
              a.dropdown-item(href="#") Open issues
              a.dropdown-item(href="#") My issues
              a.dropdown-item(href="#") Assigned to me
          input.form-control(type="search" placeholder="search ..." aria-label="Text input with dropdown button")