extends layout

block content

  h1 User: #{user.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Issues

    dl
      each issue in user_issues
        dt
          a(href=issue.url) #{issue.title}
        dd #{issue.description}

      else
        p This user has no issues.