* {
    box-sizing: border-box;
    }
    /* Style the body */
    body {
    font-family: Arial;
    margin: 0;
    }

    /* Header/logo Title */
    .header {
    padding: 5px;
    text-align: center;
    background: rgb(221, 226, 228);
    color: black;
    }

    /* Column container */
    .row {
    display: flex;
    flex-wrap: wrap;
    }
    .navbar {
    padding: 30px;
    background: rgb(221, 226, 228);
    color: black;
    }
    /* Main column */
    .main {
    flex: 70%;
    background-color: white;
    padding: 10px;
    }
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {}
    .row {
    padding: 20px;
    }

