
html, body {
    height: 100%;
  }

body {
      display: flex;
      flex-direction: column;
      
}

.main-content {
      flex: 1 0 auto;
}

.wrapper {
    display: flex;
}

.navbar {
    background-color: #b1b1b1;
}

/*
.navbar-brand img {
    height: 50px;
}*/


#navbardrop img {
    float: right;
}

.footer {
    flex: shrink;
    background-color: #b1b1b1;
    /*color: #b1b1b1;*/
    margin-top: 50px;
}

/*Center pagination below table*/
.pagination{
    display: inline-flex;
}

div.dataTables_wrapper div.dataTables_paginate{
    text-align: center;
}

/* Hide the table header row */
thead {
    position: absolute !important;
    top: -9999px !important;
    left: -pppppx !important;
}

.filter-search-row {
    margin-top: 50px;
}

.table-filters {
    margin-top: 0px;
}

.input-group {
    width:375px;
}

.new-issue-form {
    margin-top: 35px;
}

.issueDetailTable > td > p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.project-settings {
    margin-top: 40px;
}


